@model int
<div class="row">
    <div class="col-6">
        <a asp-route-Id="@Model" asp-action="Edit" class="btn btn-info form-control">Edit</a>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success form-control">Back to list</a>
    </div>
</div>
